<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Hotel name</th>
      <th>City</th>
      <th>Airport</th>
      {{#if @root.admin}}
      <th>hotelId</td>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    
      {{#each hotels}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{city}}
          </td>
          <td>
            {{airport}}
          </td>
          {{#if @root.admin}}
          <td>
            {{_id}}
          </td>
          {{/if}}
          <td>
            <a href="/admin/hotels/deletehotel/{{_id}}" class="ui icon button">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    
  </tbody>
</table>